* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  display: none;
}
.body {
  padding: 0;
  margin: 0;
}
nav {
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: rgb(23 37 84);
  position: fixed;
  top: 0;
  padding: 0 50px 0 50px;
  color: white;
  align-items: center;
  z-index: 10;
}
.logo-container {
  width: 33%;
}
.logo {
  border-radius: 50%;
  background-color: gold;
  color: orange;
  border: 5px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  font-size:x-large;
}
.input-container {
  width: 33%;
  display: flex;
  justify-content: center;
  overflow:auto;
  flex-grow: 1;
}
.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  padding:0 20px 0 20px;
  background-color: white;
}
input {
  border: none;
  outline: none;
  font-size: 20px;
  width: 100%;
}
.input-box img {
  height: 20px;
  width: auto;
}
nav ul {
  display: flex;
  gap: 80px;
  width: 33%;
  justify-content: end;
}
nav ul a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition-duration: .2s;
  font-weight: bold;
}
nav ul a:hover {
  color: aqua;
}
.page {
  width: 100vw;
  height: calc(100vh - 100px);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  background-color: lightgray;
}
.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.hero img {
  height: 200px;
  width: auto;
}
.global-stats {
  display: flex;
  gap: 40px;
  background-color: white;
  border-radius: 10px;
  width: 1000px;
  height: 200px;
  font-size: 20px;
  justify-content: space-between;
  box-shadow: 1px 1px 10px gray;
  justify-content: center;
  align-items: center;
}
.global-stats h1 {
  font-size: 16px;
  margin-bottom: 10px;
  color: gray;
}
.global-stats h2 {
  font-size: 20px;
}
.title {
  font-weight: 900;
  font-size: 40px;
  color: blue;
}
.tagline {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 20px;
}
.crypto {
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}